.form-container {
    background-color: white;
    height: 100%;
    width: auto;
    max-width: 600px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 4px;
}

label {
    flex: 1;
    text-align: left;
    font-size: 14px;
    color: #333;
}

input {
    height: 20px;
    width: 210px;
    padding: 1.5px 4px;
    border-radius: 4px;
    border: 1px solid rgba(0, 157, 224);
    margin-left: 5px;
    margin-right: 5px;
}

.label-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.icon {
    height: 15px;
    width: 15px;
}

button {
    border: 1px solid;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 157, 224);
}

.submit-button {
    border: 1px solid;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
}

.location-button {
    padding: 5px 10px;
}


.submit-button:hover {
    background-color: rgba(85,85,85,0.8);
    transform: scale(1.05);
}

.location-button:hover {
    background-color: rgba(85,85,85,0.8);
    transform: scale(1.05);
}

.error-message {
    color: red;
    font-size: 12px;
    display: flex;
    align-items: center;
    white-space: pre-wrap;
    margin: 0;
}


@media only screen and (max-width: 768px) {
    .form{
        padding: 0px;
        width: 100%;
        gap: 10px; 
    }

    .form-container {
        width: 100%;
    }

    .form-group {
        width: 100%;
    }
    
    input {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    .error-message {
        margin: 2px 0px;
        display: flex;
    }
}
