.delivery-price-container {
    /* margin: 20px auto; */
    border: solid;
    background-color: rgba(0,157,224);
    border-color: rgba(0,157,224);
    border-width: 2px;
    border-radius: 4px;
    padding: 30px 10px;
    color: white;
}

.total-value {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    color: white;
}

.breakdown-value {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.breakdown-value .topic {
    margin: auto 10px;
}

.breakdown-value .value {
    margin: auto 10px;
}

.divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.delivery-price-container .total-price {
    font-size: 24px;
}

.breakdown {
    margin: 5px;
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    .total-value {
        font-size: 18px;
        margin: 10px 10px;
    }

    .breakdown {
        margin: 10px 10px;
    }

    .breakdown-value {
        margin: 5px 10px;
    }

    .breakdown-value .topic,
    .breakdown-value .value {
        margin: auto 5px;
    }

    .divider {
        margin: 8px 0;
    }

    .delivery-price-container {
        margin: 0px;
        width: 100%;
        padding: 0px;
    }
}
