#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
}

h1 {
  color: #009de0;
  margin: 20px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media only screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
}
