@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  font-family: 'Poppins', Inter, ystem-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
  background-color: white;
  font-synthesis: none;
  height: 100%;
}
