@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  font-family: 'Poppins', Inter, ystem-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
  background-color: white;
  font-synthesis: none; /* when there is no bold/italic etc in the specified font, it doesn't do anything*/
  height: 100%;
}

/* @media only screen and (max-width: 768px) {

} */
